language: node_js
node_js:
  - 7
  - 6
  - 5
  - 4
cache:
  directories:
    - node_modules
install:
  - npm install
  - npm install typescript@$TYPESCRIPT_VERSION tslint@$TSLINT_VERSION gulp-tslint@$GULP_TSLINT_VERSION
env:
  matrix:
    - GULP_TSLINT_VERSION="^8.0.0" TSLINT_VERSION=">=5.0.0-dev" TYPESCRIPT_VERSION=">=2.0.0"
    - GULP_TSLINT_VERSION="^7.1.0" TSLINT_VERSION=">=4.0.0-dev" TYPESCRIPT_VERSION=">=2.0.0"
    - GULP_TSLINT_VERSION="^6.1.3" TSLINT_VERSION="^3.7.3" TYPESCRIPT_VERSION=">=1.7.3"
    - GULP_TSLINT_VERSION="^5.0.0" TSLINT_VERSION="^3.7.3" TYPESCRIPT_VERSION=">=1.7.3"
